{% extends "layout.html" %}
{% block content %}
  {% if pizzas %}
  <p>Pizza's</p>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Ingredients</th>
        <th>Dietary Info</th>
      </tr>
    </thead>
    <tbody>
      {% for pizza in pizzas %}
      <tr>
        <td>{{ pizza.name }}</td>
        <td>€ {{ '%.2f'|format(pizza.price) }}</td>
        <td>
          {% if pizza.ingredients %}
            <div class="pizza-ingredients">
              {% for ingredient in pizza.ingredients %}
                {{ ingredient.ingredient_name }}{% if not loop.last %}, {% endif %}
              {% endfor %}
            </div>
          {% else %}
            <em>No ingredients assigned</em>
          {% endif %}
        </td>
        <td>{{ pizza.label }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>No pizzas yet.</p>
  {% endif %}

  <p>Drinks</p>
  {% if drinks %}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for drink in drinks %}
      <tr>
        <td>{{ drink.name }}</td>
        <td>€ {{ '%.2f'|format(drink.price) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>No drinks yet.</p>
  {% endif %}
  <p>Desserts</p>
  {% if desserts %}
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Price</th>
      </tr>
    </thead>
    <tbody>
      {% for dessert in desserts %}
      <tr>
        <td>{{ dessert.name }}</td>
        <td>€ {{ '%.2f'|format(dessert.price) }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
    <p>No desserts yet.</p>
  {% endif %}
{% endblock %}
